@if (IsOpen)
{
    <div class="dialog-overlay">
        <div class="dialog">
            <div class="dialog-header">
                <p>@Title</p>
                <button @onclick="CloseAsync">X</button>
            </div>
            <div class="dialog-body">
                @ChildContent
            </div>
        </div>
    </div>
}