<div id="loading">
    <div class="loadChar">
        <span>A</span>
        <span>ö</span>
        <span>;</span>
        <span>:</span>
    </div>
    <div class="loadChar">
        <span>?</span>
        <span>_</span>
        <span>-</span>
        <span>:</span>
    </div>
    <div class="loadChar">
        <span>;</span>
        <span>Å</span>
        <span>&&</span>
        <span>$</span>
    </div>
    <div class="loadChar">
        <span>&</span>
        <span>£</span>
        <span>#</span>
        <span>Ö</span>
    </div>
</div>