@page "/"

@if (_gameSessionDetails is not null)
{
    <div style="display: grid; grid-template-columns: repeat(20, 1fr);">
        @for (var i = 0; i < 20; i++)
        {
            @for (var j = 0; j < 20 * 5; j += 5) // jump by 5
            {
                var placement = _wordPlacements.FirstOrDefault(p => p.StartRow == i && p.StartColumn == j);

                if (placement != null)
                {
                    <div class="word">@placement.Word</div>
                }
                else
                {
                    var filler = new string(_characterGrid[i].Skip(j).Take(5).ToArray());
                    <div class="word">@filler</div>
                }
            }
        }
    </div>
}