@page "/"

@if (GameSessionState.IsLoading)
{
    <LoadingIndicator/>
}
else
{
    <div class="terminal">
        <div class="terminal-header">C:\> HACKER-MODE.EXE</div>
        <div class="terminal-output">
            @GenerateTerminalText()
        </div>
        <div class="terminal-options">
            Choose your difficulty: 
            <span class="option" @onclick="() => CreateGameSessionAsync(GameDifficulty.Easy)">EASY</span> |
            <span class="option" @onclick="() => CreateGameSessionAsync(GameDifficulty.Medium)">MEDIUM</span> |
            <span class="option" @onclick="() => CreateGameSessionAsync(GameDifficulty.Hard)">HARD</span>
        </div>
    </div>
}