.terminal {
    /*background-color: var(--dark-green);*/
    font-size: 16px;
    color: var(--green);
    line-height: 1.5;
}

.terminal-header {
    /*background-color: var(--green);*/
    /*color: var(--dark-green);*/
    font-weight: bold;
}

.terminal-output {
    margin-top: 15px;
    white-space: pre-wrap;
    overflow-y: auto;
}

.terminal-options {
    margin-top: 15px;
}

.option {
    cursor: pointer;
    color: #FF4500;
    text-decoration: underline;
}

.option:hover {
    color: #FF6347;
}