@page "/"

@if (_gameSessionDetails is not null && _guessedRight is false)
{
    <div class="game-container">
        <div class="attempts-bar">
            <span class="attempts-label">Attempts Remaining: </span>
            @for (int i = 0; i < _attemptsRemaining; i++)
            {
                <span class="attempt">■</span>
            }
        </div>

        <div class="word-grid">
            @for (int i = 0; i < 20; i++)
            {
                <div class="word-row">
                    @{ var rowWords = _gridWords.Where(w => w.StartRow == i).OrderBy(w => w.StartColumn).ToList(); }
                    @{ int nextWordIndex = 0; }

                    @for (int j = 0; j < _gridWidth; j++)
                    {
                        if (nextWordIndex < rowWords.Count && rowWords[nextWordIndex].StartColumn == j)
                        {
                            var word = rowWords[nextWordIndex];
                            var wordHover = word.Word;
                            <span class="word-char" @onmouseover="() => ShowHoveredText(wordHover)" @onclick="() => GuessWordAsync(wordHover)">@word.Word</span>
                            j += word.Word.Length - 1;
                            nextWordIndex++;
                        }
                        else
                        {
                            var charHover = _characterGrid[i][j].ToString();
                            <span class="word-char"@onmouseover="() => ShowHoveredText(charHover)">@_characterGrid[i][j]</span>
                        }
                    }
                </div>
            }
        </div>

        <div class="guess-input">
            @foreach (var text in _resultTexts)
            {
                <span> > @text</span>
            }
            <span> > @_inputText</span>
        </div>
    </div>
    
    <button @onclick="OpenDialog">Open Dialog</button>

    <Dialog Title="Dialog Title" IsOpen="dialogIsOpen" IsOpenChanged="DialogIsOpenChanged">
        <p>Some dialog content...</p>
    </Dialog>
}

@code {
    private bool dialogIsOpen = false;

    void OpenDialog()
    {
        dialogIsOpen = true;
    }

    void DialogIsOpenChanged(bool isOpen)
    {
        dialogIsOpen = isOpen;
    }
}