@page "/"

@if (_gameSessionDetails is not null)
{
    <div class="grid">
        @for (int i = 0; i < 20; i++)
        {
            <div class="grid-row">
                @{ var rowWords = _gridWords.Where(w => w.StartRow == i).OrderBy(w => w.StartColumn).ToList(); }
                @{ int nextWordIndex = 0; }

                @for (int j = 0; j < _gridWidth; j++)
                {
                    if (nextWordIndex < rowWords.Count && rowWords[nextWordIndex].StartColumn == j)
                    {
                        var word = rowWords[nextWordIndex];
                        <span class="grid-char">@word.Word</span>
                        j += word.Word.Length - 1;
                        nextWordIndex++;
                    }
                    else
                    {
                        <span class="grid-char">@_characterGrid[i][j]</span>
                    }
                }
            </div>
        }
    </div>
}